<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <% include navbar.ejs %>
        <h1>Login</h1>
        <form action="/user/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
</body>
<script>
document.getElementById("loginForm").onsubmit = async function(event) {
    event.preventDefault(); 
    
    const formData = new FormData(this); 
    const response = await fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(Object.fromEntries(formData)), 
    });

    if(response.ok) {
        alert("Login successful!");
        window.location.href='/'; 
    } else {
        alert("Login failed!");
    }
};
</script>


</html>