<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database API</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Welcome to the Movie Database API</h1>
    
     <h2>User Operations</h2>
     <ul>
         <li><a href="/user/signup">Sign Up</a></li>
         <li><a href="/user/login">Log In</a></li>
         <li><a href="/user/">View All Users</a></li>
     </ul>

     <h2>Movie Operations</h2>
     <ul>
         <li><a href="/movie/create">Add a Movie</a></li>
         <li><a href="/movie/">View All Movies</a></li>
     </ul>
</body>
</html>